.Header {
  justify-content: flex-start;

  padding-left: 10px;
  background: linear-gradient(262deg, #1057ca, #24151b);
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 1px 8px 0 rgb(0 17 25 / 27%);
  z-index: 2;
  box-sizing: inherit;
  min-width: 100%;
  background-color: gainsboro;
  flex-grow: 1;
  background: linear-gradient(262deg, #1057ca, #24151b);
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 1px 8px 0 rgb(0 17 25 / 27%);
  height: 60px;
  z-index: 2;
  width: 100%;
  box-sizing: inherit;
}
