.RegisterSucceed {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 500px;
}
.RegisterSucceed::after {
  content: "";
  background: url("https://image.shutterstock.com/image-photo/happy-puppy-dog-smiling-on-260nw-1799966587.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  right: 0;
  position: absolute;
  z-index: -1;
}

.RegisterSucceed-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.RegisterSucceed {
  color: white;
  display: flex;
  flex-wrap: wrap;
}

.RegisterSucceed-header {
  justify-content: flex-start;

  text-align: center;
  font-size: 40px;
  color: rgb(13, 17, 126);
}
.IconLeft {
  justify-content: flex-start;
}

.RegisterSucceedHeader {
  justify-content: flex-start;

  padding-left: 10px;
  background: linear-gradient(262deg, #1057ca, #24151b);
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 1px 8px 0 rgb(0 17 25 / 27%);
  z-index: 2;
  box-sizing: inherit;
  min-width: 325px;
  background-color: gainsboro;
  background: linear-gradient(262deg, #1057ca, #24151b);
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 1px 8px 0 rgb(0 17 25 / 27%);
  height: 60px;
  z-index: 2;
  box-sizing: inherit;
}

.RegisterSucceed-container {
  flex-grow: 4;
  background-color: darkblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RegisterSucceed-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: black;
  margin-left: 10px;
}

.Icon {
  color: white;
  cursor: pointer;
  filter: drop-shadow(4px 2px 1px rgb(41, 40, 40));
}

body,
#root,
.App,
.Register {
  min-height: 100vh;
  color: darkblue;
}

.Validation {
  margin-top: 20px;
  padding: 4px;
  color: red;
  width: 200px;
  font-size: 15px;
  background-color: gainsboro;
}

.RegisterSucceedButton {
  margin-top: 20px;
  width: 200px;
  align-self: center;
}

.TryAgainButton {
  width: 200px;
  align-self: center;
}
