.Suggestions {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Suggestions-header {
  font-size: 40px;
  color: pink;
}

.AsideMatches-header {
  background: linear-gradient(262deg, #1057ca, #24151b);
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 1px 8px 0 rgb(0 17 25 / 27%);
  height: 60px;
  z-index: 2;
  box-sizing: inherit;
  justify-content: space-around;
}

.AsideMatches {
  min-width: 325px;
  width: 100%;
  background-color: gainsboro;
  flex-grow: 1;
}

@media (min-width: 640px) {
  .AsideMatches {
    max-width: fit-content;
  }

  .Current-suggestion-about {
    width: 100%;
  }
}

@media only screen and (max-device-width: 640px) {
  .AsideMatches {
    max-width: none;
    width: 100%;
  }

  .Current-suggestion-about {
    width: 100%;
  }
}

.Current-suggestion-about {
  width: 800px;
  text-align: center;
}

.Current-suggestion-inspirations {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.Suggestions-container {
  flex-grow: 4;
  width: 300px;
  background-color: darkblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.SuggestionsHeader {
  width: 250px;
  text-align: center;
}

@media only screen and (max-device-width: 640px) {
  .AsideMatches {
    max-width: none;
    width: 100%;
  }

  .Current-suggestion-about {
    width: 100%;
  }
}

.Suggestions-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: black;
  margin-left: 10px;
}

.Suggestions-liked-image {
  width: 138px;
  height: 180px;
  margin: 10px;
  border: 2px solid white;
}

.Suggestions-liked-image-match {
  border: 2px solid red;
}

.Icon {
  cursor: pointer;
  filter: drop-shadow(4px 2px 1px rgb(41, 40, 40));
}

.Current-suggestion {
  align-self: center;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #000000;
}

.Current-suggestions-radio-buttons {
  margin-top: -25px;
}

.Current-suggestions-swypeIcons {
  margin: 20px;
}

.Current-suggestions-swypeIcons-no {
  margin-right: 20px;
  color: red;
}

.Current-suggestions-swypeIcons-yes {
  margin-right: 20px;
  color: green;
}
.Suggestions-container-suggestionTitle {
  color: white;
}

body,
#root,
.App,
.Suggestions {
  min-height: 100vh;
}

.showSuggestionsButton {
  margin-bottom: 20px;
  margin-top: 10px;
}

.AsideMatchesTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.IconReload {
  cursor: pointer;
}

.IconReloadSuggestions {
  cursor: pointer;
  margin-left: 10px;
}

.Current-suggestion-common {
  margin-bottom: 10px;
}

.myPicture {
  width: 300px;
  height: 400px;
  margin: 10px;
}

.notify-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  position: absolute;
  top: 0;
  right: 0;
}

.notify-item {
  width: 250px;
  margin: 5px 10px;
  color: #FFF;
  border-radius: 5px;
}

.notify-item:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px 0 rgb(15, 15, 15);
}

.notify-item > p {
  font-family: 'Lora', serif;
  margin: 10px;
  opacity: .8;
}

.notify-item.success {
  background-color: rgba(81, 163, 81, 0.4);
}

.notify-item.error {
  background-color: rgba(203, 100, 94, 0.8);
}

.notify-item.info {
  background-color: rgba(33, 150, 243, 0.8);
}

.notify-title {
  font-weight: 700;
}
