.Suggestions {
  /* background-image: url('../resources/paniFlet.jpg'); */
  /* display: contents;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-repeat: no-repeat;
  background-size: cover; */
  color: white;
  /* height: 500px; */
  display: flex;
  /* width: 60%; */
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: center; */

}

.Suggestions-header {
  font-size: 40px;
  color: pink;
  
}

.AsideMatches-header {
  
  background: linear-gradient(
    262deg
    ,#1057ca,#24151b);
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 1px 8px 0 rgb(0 17 25 / 27%);
  height: 60px;
  z-index: 2;
  box-sizing: inherit;
  justify-content: space-around;
}

.AsideMatches {
  min-width: 325px;
  background-color: gainsboro;
  flex-grow: 1;
}

.Current-suggestion-about {
  width: 800px;
  text-align: center;
}

.Current-suggestion-inspirations {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.Suggestions-container {
  flex-grow: 4;
  background-color: darkblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-device-width : 640px) {
  /* Styles */
  .AsideMatches {
width: 100%  }

.Current-suggestion-about {
  width: 100%;
}
  
  .Suggestions-container {
  }
  }

.Suggestions-container-2 {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
  color: black;
  margin-left: 10px;
}

.Suggestions-liked-image {
  width: 138px;
  height: 180px;
  margin: 10px;
  border: 2px solid white;
}

.Suggestions-liked-image-match {
  border: 2px solid red;
}

.Icon {
  cursor: pointer;
  filter:drop-shadow(4px 2px 1px rgb(41, 40, 40));
}

.Current-suggestion {
  /* display: flex; */
  align-self: center;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #000000;
}

.Current-suggestions-radio-buttons {
  margin-top: -25px;
}

.Current-suggestions-swypeIcons {
  /* margin-top: 10px; */
  margin: 20px;
}

.Current-suggestions-swypeIcons-no {
  margin-right: 20px;
  color: red;
}

.Current-suggestions-swypeIcons-yes {
  margin-right: 20px;
  color: green;
}
.Suggestions-container-suggestionTitle {
  color: white;
}

body, #root, .App, .Suggestions {
  /* display: flex; */
  min-height: 100vh;
  /* flex-direction: column; */
  /* font-size: 62.5%; */
  /* background: #dadada; */
  /* font-family: "Open Sans", sans-serif; */
  /* line-height: 2; */
}



